bodybody {
    background:url("annie-spratt-X4l3CjcDvic-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
     
    text-align:center;
    color:yellow;
}
header{
  background:rgba(44, 8, 137, 0.85);
  border-radius:10px;
  text-align:center;
  column-count: 1;
  font-size: 20px;
  padding: 10px;
    font-family: 'Brush Script MT', cursive;
}
nav{
  background: rgba(44, 8, 137, 0.85);
  text-align:center;
  border-radius:10px;
  color:white;
  font-weight:bold;
    font-family: 'Brush Script MT', cursive;
}
p{
  color:rgba(44, 8, 137, 0.85);
  font-weight:bold;
  font-size:10px;
  color:yellow;
}
footer{
  background:rgba(44, 8, 137, 0.85);
  text-align:center;
  height:90px;
  border-radius:5px;
  font-size:30px;
  font-family: 'Brush Script MT', cursive;
  color:yellow;
}
div{
  background: rgba(68, 112, 50, 1);
  border-radius:10px;
}





@keyframes colorChange {
    0% { color: red; }
    50% { color: white; }
    100% { color: yellow; }
    
}

.dynamic-text {
    font-weight: bold;
    animation: colorChange 6s infinite;
    
}


button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}￼Enter
